<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-algorithm-heading">Create or edit a Algorithm</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!algorithm.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="algorithm.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="algorithm.name" required maxlength="30"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="algorithm.description" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mapperText">Mapper Text</label>
                    <textarea class="form-control" name="mapperText" id="field_mapperText"
                        [(ngModel)]="algorithm.mapperText" ></textarea>
                </div>
                <div class="form-group" [hidden]="!algorithm.mapperFileUrl">
                    <label class="form-control-label" for="field_mapperFileUrl">Mapper File HDFS Url</label>
                    <input type="text" class="form-control" name="mapperFileUrl" id="field_mapperFileUrl"
                        [(ngModel)]="algorithm.mapperFileUrl" maxlength="2048" readonly/>
                    <div [hidden]="!(editForm.controls.mapperFileUrl?.dirty && editForm.controls.mapperFileUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.mapperFileUrl?.errors?.maxlength">
                        This field cannot be longer than 2048 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reducerText">Reducer Text</label>
                    <textarea class="form-control" name="reducerText" id="field_reducerText"
                        [(ngModel)]="algorithm.reducerText" ></textarea>
                </div>
                <div class="form-group" [hidden]="!algorithm.reducerFileUrl">
                    <label class="form-control-label" for="field_reducerFileUrl">Reducer File HDFS Url</label>
                    <input type="text" class="form-control" name="reducerFileUrl" id="field_reducerFileUrl"
                        [(ngModel)]="algorithm.reducerFileUrl" maxlength="2048" readonly/>
                    <div [hidden]="!(editForm.controls.reducerFileUrl?.dirty && editForm.controls.reducerFileUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reducerFileUrl?.errors?.maxlength">
                        This field cannot be longer than 2048 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" [hidden]="!algorithm.dateCreated">
                    <label class="form-control-label" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" [(ngModel)]="dateCreated" placeholder="YYYY-MM-DD HH:mm" readonly
                        />
                    </div>
                </div>
                <div class="form-group" [hidden]="!algorithm.lastSuccessfulRun">
                    <label class="form-control-label" for="field_lastSuccessfulRun">Last Successful Run</label>
                    <div class="d-flex">
                        <input id="field_lastSuccessfulRun" type="datetime-local" class="form-control" name="lastSuccessfulRun" [(ngModel)]="lastSuccessfulRun" placeholder="YYYY-MM-DD HH:mm" readonly
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_laboratory">Laboratory</label>
                    <select class="form-control" id="field_laboratory" name="laboratory" [(ngModel)]="algorithm.laboratoryId"  required>
                        <option *ngIf="!editForm.value.laboratory" [ngValue]="null" selected></option>
                        <option [ngValue]="laboratoryOption.id" *ngFor="let laboratoryOption of laboratories; trackBy: trackLaboratoryById">{{laboratoryOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.laboratory?.dirty && editForm.controls.laboratory?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.laboratory?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
