<div>
    <h2 id="page-heading">
        <span>Sensors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sensor" [routerLink]="['/sensor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sensor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sensors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="internalId"><span>Internal Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sensorType"><span>Sensor Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="potentialFreq"><span>Potential Freq</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="samplingFreq"><span>Sampling Freq</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sensor of sensors ;trackBy: trackId">
                <td><a [routerLink]="['/sensor', sensor.id, 'view' ]">{{sensor.id}}</a></td>
                <td>{{sensor.internalId}}</td>
                <td>{{sensor.sensorType}}</td>
                <td>{{sensor.potentialFreq}}</td>
                <td>{{sensor.samplingFreq}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sensor', sensor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sensor', sensor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sensor', { outlets: { popup: sensor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sensors && sensors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
