<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-3 offset-lg-3 col-md-1 col-lg-1">
                <img title="Logo Uniandes" src="../../../content/images/logo-unaindes.png" alt="Home">
            </div>
            <div class="col-auto">
                <div class="row">
                    <b>Developed by:</b> &nbsp; Alfonso Ardila - Felipez Martínez
                </div>
                <div class="row">
                    <b>For:</b> &nbsp; Proyecto Integrador - Maestría en Ingeniería de Software
                </div>
            </div>
        </div>
    </div>
</div>
