<div>
    <h2 id="page-heading">
        <span>Laboratories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-laboratory" [routerLink]="['/laboratory/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Laboratory
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="laboratories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shareUrl"><span>Share Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shareValidThru"><span>Share Valid Thru</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tags"><span>Tags</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="samplingName"><span>Sampling</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let laboratory of laboratories ;trackBy: trackId">
                <td><a [routerLink]="['/laboratory', laboratory.id, 'view' ]">{{laboratory.id}}</a></td>
                <td>{{laboratory.name}}</td>
                <td>{{laboratory.description}}</td>
                <td>{{laboratory.dateCreated | date:'medium'}}</td>
                <td>{{laboratory.shareUrl}}</td>
                <td>{{laboratory.shareValidThru | date:'medium'}}</td>
                <td>
                    <div *ngFor="let tag of laboratory.tags">
                        <span class="badge badge-info">{{ tag }}</span>
                    </div>
                </td>
                <td>
                    <div *ngIf="laboratory.samplingId">
                        <a [routerLink]="['../sampling', laboratory.samplingId , 'view' ]" >{{laboratory.samplingName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/laboratory', laboratory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/laboratory', laboratory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'laboratory', { outlets: { popup: laboratory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="laboratories && laboratories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
