<div>
    <h2 id="page-heading">
        <span>Search Engine</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col">
            <label for="search-select" >Looking for</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <ng-select id="search-select"
                       [items]="searchModules"
                       [selectOnTab]="true"
                       bindLabel="name"
                       bindValue="value"
                       (change)="onChange($event)">
            </ng-select>
        </div>
    </div>
    <div class="row" [ngSwitch]="moduleSelection" >
        <div class="col-12">
        <jhi-search-sample *ngSwitchCase="'SAMPLE'"></jhi-search-sample>
        <p *ngSwitchCase="'EXPERIMENT'">EXPERIMENT</p>
        </div>
    </div>
</div>
