<div>
    <h2 id="page-heading">
        <span>Search Samples</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organization" [routerLink]="['/batch-task/search-report']">
            <fa-icon [icon]="'file-csv'"></fa-icon>
            <span >
            Download Search Reports
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-12">
        <jhi-search-sample></jhi-search-sample>
        </div>
    </div>
</div>
