<div>
    <h2 id="page-heading">
        <span>Samples Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-samples-files" [routerLink]="['/samples-files/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Samples Files
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="samplesFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Size</span></th>
            <th><span>State</span></th>
            <th><span>Result</span></th>
            <th><span>Records Processed</span></th>
            <th><span>Create Date Time</span></th>
            <th><span>Update Date Time</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let samplesFiles of samplesFiles;trackBy: trackId">
                <td><a [routerLink]="['/samples-files', samplesFiles.id, 'view' ]">{{samplesFiles.id}}</a></td>
                <td>{{samplesFiles.name}}</td>
                <td>{{samplesFiles.size}}</td>
                <div [ngSwitch]="samplesFiles.state">

                <td *ngSwitchCase="1">Cargado</td>
                <td *ngSwitchCase="2">Procesando</td>
                <td *ngSwitchCase="3">Procesado OK</td>
                <td *ngSwitchCase="4">Falló procesado</td>
                </div>
                <td>{{samplesFiles.result}}</td>
                <td>{{samplesFiles.recordsProcessed}}</td>
                <td>{{samplesFiles.createDateTime | date:'yyyy-MM-dd'}}</td>
                <td>{{samplesFiles.updateDateTime | date:'yyyy-MM-dd'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
