<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="samplesFiles">
            <h2><span>Samples Files</span> {{samplesFiles.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{samplesFiles.name}}</span>
                </dd>
                <dt><span>Path</span></dt>
                <dd>
                    <span>{{samplesFiles.path}}</span>
                </dd>
                <dt><span>Content Type</span></dt>
                <dd>
                    <span>{{samplesFiles.contentType}}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{samplesFiles.size}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{samplesFiles.state}}</span>
                </dd>
                <dt><span>Result</span></dt>
                <dd>
                    <span>{{samplesFiles.result}}</span>
                </dd>
                <dt><span>Create Date Time</span></dt>
                <dd>
                    <span>{{samplesFiles.createDateTime}}</span>
                </dd>
                <dt><span>Update Date Time</span></dt>
                <dd>
                    <span>{{samplesFiles.updateDateTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/samples-files', samplesFiles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
