<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sampling-heading">Create or edit a Sampling</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sampling.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sampling.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="sampling.name" required maxlength="30"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notes">Notes</label>
                    <textarea class="form-control" name="notes" id="field_notes"
                        [(ngModel)]="sampling.notes" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startTime">Start Time</label>
                    <div class="d-flex">
                        <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" [(ngModel)]="startTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endTime">End Time</label>
                    <div class="d-flex">
                        <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" [(ngModel)]="endTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_experiment">Experiment</label>
                    <select class="form-control" id="field_experiment" name="experiment" [(ngModel)]="sampling.experimentId" required>
                        <option *ngIf="!editForm.value.experiment" [ngValue]="null" selected></option>
                        <option [ngValue]="experimentOption.id" *ngFor="let experimentOption of experiments; trackBy: trackExperimentById">{{experimentOption.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="tags">Tags</label>
                    <ng-select
                        id ="tags"
                        [items]="tags"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="false"
                        bindLabel="name"
                        placeholder="Select Tags"
                        [(ngModel)]="sampling.tags"
                        name="tags">
                    </ng-select>
                </div>

                <div [hidden]="!(editForm.controls.experiment?.dirty && editForm.controls.experiment?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.experiment?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <hr/>
            <div>
                <h4>
                    <span>Operative Conditions</span>
                    <button id="jh-create-entity" class="btn btn-primary btn-sm float-right"
                            type="button" (click)="addCondition()">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span >
            Add Operative Condition
            </span>
                    </button>
                </h4>
                <div class="table-responsive" >
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ><span>Variable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th ><span>Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let condition of sampling.operativeConditions; let i = index">
                            <td>{{condition.varName}}</td>
                            <td>{{condition.value}} {{condition.unit}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="editCondition(i)">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm" (click)="removeCondition(i)">
                                        <fa-icon [icon]="'minus'"></fa-icon>
                                        <span class="d-none d-md-inline">Remove</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <div>
                <h4>
                    <span>Installed Devices</span>
                    <button id="jh-create-device" class="btn btn-primary btn-sm float-right"
                            type="button" (click)="addDevice()">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span >
            Add Device
            </span>
                    </button>
                </h4>
                <div class="table-responsive" >
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let device of sampling.devices; let i = index">
                            <td>{{device.internalId}}</td>
                            <td>{{device.name}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="editDevice(i)">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm" (click)="removeDevice(i)">
                                        <fa-icon [icon]="'minus'"></fa-icon>
                                        <span class="d-none d-md-inline">Remove</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <div>
                <h4>
                    <span>Sampled Sensors</span>
                    <button id="jh-create-sensor" class="btn btn-primary btn-sm float-right"
                            type="button" (click)="addSensor()">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span >
            Add Sensor
            </span>
                    </button>
                </h4>
                <div class="table-responsive" >
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th><span>Sensor Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th><span>Device</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th><span>Potential Frequency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th><span>Sampling Frequency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let sensor of sampling.sensors">
                            <td>{{sensor.internalId}}</td>
                            <td>{{sensor.sensorType}}</td>
                            <td>{{sensor.deviceName}}</td>
                            <td>{{sensor.potentialFreq}}</td>
                            <td>{{sensor.samplingFreq}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="editSensor(sensor)">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm" (click)="removeSensor(sensor)">
                                        <fa-icon [icon]="'minus'"></fa-icon>
                                        <span class="d-none d-md-inline">Remove</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
