<div class="row justify-content-center">
    <div class="col-10">
        <div *ngIf="sampling">
            <h2><span class="font-weight-bold">Sampling:</span> {{sampling.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Id</span></dt>
                <dd>
                    <span>{{sampling.id}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{sampling.name}}</span>
                </dd>
                <dt><span>Notes</span></dt>
                <dd>
                    <span>{{sampling.notes}}</span>
                </dd>
                <dt><span>Start Time</span></dt>
                <dd>
                    <span>{{sampling.startTime}}</span>
                </dd>
                <dt><span>End Time</span></dt>
                <dd>
                    <span>{{sampling.endTime}}</span>
                </dd>
                <dt><span>Tags</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let tag of sampling.tags">
                            <span class="badge badge-info">{{ tag }}</span>
                        </li>
                    </ul>
                </dd>
                <dt><span>Experiment</span></dt>
                <dd>
                    <div *ngIf="sampling.experimentId">
                        <a [routerLink]="['/experiment', sampling.experimentId, 'view']">{{sampling.experimentName}}</a>
                    </div>
                </dd>
                <hr/>
                <h4><span>Operative Conditions</span></h4>
                <dd>
                    <div class="table-responsive" >
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span>Variable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th><span>Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let condition of sampling.conditions; let i = index">
                                <td>{{condition.varName}}</td>
                                <td>{{condition.value}} {{condition.unit}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <hr/>
                <h4><span>Installed Devices</span></h4>
                <dd>
                    <div class="table-responsive" >
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span>Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let device of sampling.devices; let i = index">
                                <td>{{device.internalId}}</td>
                                <td>{{device.name}}</td>
                                <td>{{device.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <hr/>
                <h4><span>Sampled Sensors</span></h4>
                <dd>
                    <div class="table-responsive" >
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span>Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th><span>Sensor Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th><span>Device</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th><span>Potential Frequency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th><span>Sampling Frequency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let sensor of sampling.sensors; let i = index">
                                <td>{{sensor.internalId}}</td>
                                <td>{{sensor.sensorType}}</td>
                                <td>{{sensor.deviceName}}</td>
                                <td>{{sensor.potentialFreq}}</td>
                                <td>{{sensor.samplingFreq}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sampling', sampling.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
