<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="batchTask" [ngSwitch]="batchTask.type">
            <h2 *ngSwitchCase="taskTypeReport"><span>Search Report</span></h2>
            <h2 *ngSwitchCase="taskTypeFileLoad"><span>Samples File Load</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Id</span></dt>
                <dd>
                    <span>{{batchTask.id}}</span>
                </dd>
                <dt *ngIf="!isError(batchTask.state)"><span>Progress</span></dt>
                <dd *ngIf="!isError(batchTask.state)">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <ngb-progressbar type="success" [value]="batchTask.progress">
                                <span>{{ batchTask.progress }} %</span>
                            </ngb-progressbar>
                        </div>
                    </div>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{batchTask.createDate | date:'medium'}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd *ngIf="isError(batchTask.state)" class="text-danger">
                    <fa-icon [icon]="'exclamation-triangle'"></fa-icon>
                    <span>{{batchTask.state | titlecase}} - {{batchTask.description}}</span>
                </dd>
                <dd *ngIf="!isError(batchTask.state)">
                    <span>{{batchTask.state | titlecase}}</span>
                </dd>
                <dd *ngIf="isCompleted(batchTask.state) && isReport(batchTask.type)">
                    <a href="{{locateReport(batchTask.id)}}" target="_blank">
                        <button type="button"
                                class="btn btn-success">
                            <fa-icon [icon]="'file-download'"></fa-icon>&nbsp;<span> Download Report</span>
                        </button>
                    </a>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{batchTask.startDate | date:'medium'}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{batchTask.endDate | date:'medium'}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{batchTask.user}}
                </dd>
            </dl>

            <div *ngIf="isFileUpload(batchTask.type)">
                    <h4>Aditional Info</h4>
                    <table class="table">
                            <tr><th><strong>Total Lines</strong></th>
                                <td>
                                    {{batchTask.parameters.totalLines}}
                                </td>
                            </tr>
                            <tr><th><strong>Processed Lines</strong></th>
                                <td>
                                    {{batchTask.parameters.processedLines}}
                                </td>
                            </tr>
                            <tr><th><strong>Processed Lines OK</strong></th>
                                <td>
                                    {{batchTask.parameters.processedLinesOk}}
                                </td>
                            </tr>
                        </table>
                </div>
                <div *ngIf="isReport(batchTask.type)">
                    <h4>Search parameters</h4>
                    <table class="table">
                            <tr><th><strong>Expected Records</strong></th>
                                <td>
                                    {{batchTask.parameters.expectedRecords}}
                                </td>
                            </tr>
                            <tr><th><strong>From DateTime</strong></th>
                                <td>
                                    {{batchTask.parameters.fromDateTime}}
                                </td>
                            </tr>
                            <tr><th><strong>To DateTime</strong></th>
                                <td>
                                    {{batchTask.parameters.toDateTime}}
                                </td>
                            </tr>
                            <tr><th><strong>Tags</strong></th>
                                <td>
                                    {{batchTask.parameters.tags}}
                                </td>
                            </tr>
                            <tr><th><strong>Target Systems</strong></th>
                                <td>
                                    {{batchTask.parameters.targetSystemId}}
                                </td>
                            </tr>
                            <tr><th><strong>Experiments</strong></th>
                                <td>
                                    {{batchTask.parameters.experimentsId}}
                                </td>
                            </tr>
                            <tr><th><strong>Sensors</strong></th>
                                <td>
                                    {{batchTask.parameters.sensorsId}}
                                </td>
                            </tr>   
                        </table>
                </div>
            
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
