<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="batchTask">
            <h2><span>Batch Task</span> {{batchTask.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{batchTask.description}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{batchTask.type}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{batchTask.state}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{batchTask.createDate}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{batchTask.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{batchTask.endDate}}</span>
                </dd>
                <dt><span>Progress</span></dt>
                <dd>
                    <ngb-progressbar type="success" [value]="batchTask.progress">
                        <span>{{ batchTask.progress }} %</span>
                    </ngb-progressbar>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{batchTask.user}}
                </dd>
            </dl>
            
            <div *ngIf="batchTask.type === 'FILE_LOAD'">
                <h4>Aditional Info</h4>
                <table class="table">
                    <tr><th><strong>Total Lines</strong></th>
                        <td>
                            {{batchTask.parameters.totalLines}}
                        </td>
                    </tr>
                    <tr><th><strong>Processed Lines</strong></th>
                        <td>
                            {{batchTask.parameters.processedLines}}
                        </td>
                    </tr>
                    <tr><th><strong>Processed Lines OK</strong></th>
                        <td>
                            {{batchTask.parameters.processedLinesOk}}
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="batchTask.type === 'REPORT'">
                <h4>Search parameters</h4>
                <table class="table">
                    <tr><th><strong>Expected Records</strong></th>
                        <td>
                            {{batchTask.parameters.expectedRecords}}
                        </td>
                    </tr>
                    <tr><th><strong>From DateTime</strong></th>
                        <td>
                            {{batchTask.parameters.fromDateTime}}
                        </td>
                    </tr>
                    <tr><th><strong>To DateTime</strong></th>
                        <td>
                            {{batchTask.parameters.toDateTime}}
                        </td>
                    </tr>
                    <tr><th><strong>Tags</strong></th>
                        <td>
                            {{batchTask.parameters.tags}}
                        </td>
                    </tr>
                    <tr><th><strong>Target Systems</strong></th>
                        <td>
                            {{batchTask.parameters.targetSystemId}}
                        </td>
                    </tr>
                    <tr><th><strong>Experiments</strong></th>
                        <td>
                            {{batchTask.parameters.experimentsId}}
                        </td>
                    </tr>
                    <tr><th><strong>Sensors</strong></th>
                        <td>
                            {{batchTask.parameters.sensorsId}}
                        </td>
                    </tr>   
                </table>    
            </div>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/batch-task', batchTask.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
