<div class="row">
    <div class="col-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group row">
            <label for="select_targetSystem" class="col-lg-3 col-form-label">From Target System</label>
            <div class="col-lg-7">
                <ng-select id="select_targetSystem">
                    <ng-option [value]="true">System 1</ng-option>
                    <ng-option [value]="false">System 2</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group row">
            <label for="select_tags" class="col-lg-3 col-form-label">Marked with Tags</label>
            <div class="col-lg-7">
                <ng-select id="select_tags" [multiple]="true">
                    <ng-option [value]="'failure'">failure</ng-option>
                    <ng-option [value]="'normal'">normal</ng-option>
                    <ng-option [value]="'undefined'">undefined</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group row">
            <label class="col-lg-3 col-form-label">Sensed between</label>
            <div class="col-lg-7">
                <div class="row">
                    <div class="d-flex col-1">
                        <label for="field_startTime" >from</label>
                    </div>
                    <div class="d-flex col-lg-5">
                        <input id="field_startTime"
                               type="datetime-local"
                               class="form-control"
                               name="startTime"
                               placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div class="d-flex col-1">
                        <label for="field_endTime" >to</label>
                    </div>
                    <div class="d-flex col-lg-5">
                        <input id="field_endTime"
                               type="datetime-local"
                               class="form-control"
                               name="startTime"
                               placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group row">
            <label for="select_op-condition" class="col-lg-3 col-form-label">With Operative Conditions</label>
            <div class="col-lg-7">
                <ng-select id="select_op-condition" [multiple]="true">
                    <ng-option [value]="'speed'">Speed</ng-option>
                    <ng-option [value]="'load'">Load</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
</div>
