<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="targetSystem">
            <h2><span class="font-weight-bold">Target System:</span> {{targetSystem.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Id</span></dt>
                <dd>
                    <span>{{targetSystem.id}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                <span>{{targetSystem.createdBy}} on {{targetSystem.created}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                <span>{{targetSystem.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                <span>{{targetSystem.description}}</span>
                </dd>
                <dt><span>Organization</span></dt>
                <dd>
                    <div *ngIf="targetSystem.organizationId">
                        <a [routerLink]="['/organization', targetSystem.organizationId, 'view']">{{targetSystem.organizationName}}</a>
                    </div>
                </dd>
                <hr/>
                <h4><span>Operative Ranges</span></h4>
                <dd>
                    <div class="table-responsive" >
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th ><span>Variable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th ><span>Min Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th ><span>Max Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let range of targetSystem.operativeRanges; let i = index">
                                <td>{{range.varName}}</td>
                                <td>{{range.minVal}} {{range.unit}}</td>
                                <td>{{range.maxVal}} {{range.unit}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/target-system', targetSystem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
