<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-target-system-heading">Create or edit a Target System</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details" [hidden]="!targetSystem.id">
                    <dt><span>ID</span></dt>
                    <dd>
                        <span>{{targetSystem.id}}</span>
                    </dd>
                    <dt><span>Created By</span></dt>
                    <dd>
                        <span>{{targetSystem.createdBy}} on {{targetSystem.created}}</span>
                    </dd>
                </dl>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="targetSystem.name" required maxlength="30"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="targetSystem.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_organization">Organization</label>
                    <select class="form-control" id="field_organization" name="organization" [(ngModel)]="targetSystem.organizationId" required>
                        <option *ngIf="!editForm.value.organization" [ngValue]="null" selected></option>
                        <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.organization?.dirty && editForm.controls.organization?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.organization?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <hr/>
            <div >
                <h4>
                    <span>Operative Ranges</span>
                    <button id="jh-create-entity" class="btn btn-primary btn-sm float-right"
                            type="button" (click)="addRange()">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span >
            Add Operative Range
            </span>
                    </button>
                </h4>
                <div class="table-responsive" >
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ><span>Variable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th ><span>Min Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th ><span>Max Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let range of targetSystem.operativeRanges; let i = index">
                            <td>{{range.varName}}</td>
                            <td>{{range.minVal}} {{range.unit}}</td>
                            <td>{{range.maxVal}} {{range.unit}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="editRange(i)">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm" (click)="removeRange(i)">
                                        <fa-icon [icon]="'minus'"></fa-icon>
                                        <span class="d-none d-md-inline">Remove</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
